{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h3 class="text-center mt-3">{{ report.name }}</h3>
    <div class="container mt-3">
        <div class="row mt-5 mb-5" style="height: 450px">
          <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Description</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nodes</a>
              <a href="{{ report.preview_url }}" type="button" class="btn btn-primary mr-3 mt-3">Data Preview</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                {{ report.description|safe}}
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                {% for level in report.nodes %}
                    <div class="row">
                      <div class="mx-auto">
                        {% for node in level %}
                        <a href="{{ node.url }}" type="button" class="btn btn-primary mr-3 mt-3">{{ node.name }}</a>
                        {% endfor %}
                      </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
            <p class="lead text-center">All Dependencies</p>
            <div class="row">
              <div class="mx-auto">
                {% for child in children %}
                    <a href="{{ child.detail_url }}" type="button" class="btn btn-primary mr-3 mt-3">{{ child.name }}</a>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}